/* Your application styles go here */
.loading-container .loading {
	background-color: transparent;
	color: #5E5E5E;
	font-size: 35px;
}

.plus-icon{
	text-align: center;
	font-size: 32px;
	color: #145fd7;
}

.tab-item-active{
	color: #145fd7;
}

/* CARD STYLES */

.header-card{
	background-color: #f5f5f5;
	color: #222;
	font-weight: bold;
	padding: 0 8px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
	border-color: #ddd;
}

/* TEXT STYLING */

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

  .button-clear.active, .button-clear.activated {
    opacity: 1; }