/* Your application styles go here */

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-dumbbell{
	top: 5px !important;
}

.icon-icon-dumbbell:before {
  content: "a";
}

.loading-container .loading {
	background-color: transparent;
	color: #5E5E5E;
	font-size: 35px;
}

.plus-icon{
	text-align: center;
	font-size: 32px;
	color: #145fd7;
}

.tab-item-active{
	color: #145fd7;
}

.no-padding{
	padding: 0px !important;
}

.form-control {
 	display: table-cell;
	width: 100%;
	height: 21px !important;
	padding: 0px;
	font-size: 16px !important;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	text-align: right;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.item-input-right{
	padding-right: 150px;
}

/* CARD STYLES */

.header-card{
	background-color: #f5f5f5;
	color: #222;
	font-weight: bold;
	padding: 0 8px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
	border-color: #ddd;
}

.profile-img{
	width: 140px;
	height: 140px;
	margin-top: 15px;
	border: 2px solid #fff;
	padding: 5px;
}

.profile-img-settings{
	width: 140px;
	height: 140px;
	border: 2px solid transparent;
	padding: 5px;
}

.profile-bar{
	padding: 0px;
}

.profile-bar h3{
	color: #fff;
	margin-bottom: 5px;
}

.profile-bar h6{
	color: #EDFDFD;
	margin: 0 0 5px 0;
}

.profile-header h3{
	color: #fff;
	margin-bottom: 5px;
}

.profile-header h6{
	color: #EDFDFD;
	margin: 0 0 20px 0;
}

.profile-background{
	background-color: #4a87ee;
}

.weight-input{
	color: #4a87ee !important;
}

.reps{
	color: #111 !important;
}

.reps-input{
	color: #111 !important;
	width: 12%;
	text-align: center;
}

.exercise-input{
	text-align: left;
	color: #222;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline !important;
	font: inherit;
	font-size: 100%;
	width: 80%;
	background-color: #f5f5f5;
	line-height: 34px !important;
	height: 34px !important;
}

.item.active, .item.activated{
	background-color: #fff !important;
}

.flex{
	display: -webkit-flex;
	display: flex;
}

.input-group{
	display: table;
	border-collapse: separate;
	position: absolute;
	top: 16px;
	right: 0px;
	width: 50%;
	height: 21px;
}

.input-group-addon{
	padding: 2px 0px 0px 6px;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
	height: 19px;
	color: #4a87ee;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.item-divider-record{
	vertical-align: middle;
	line-height: 34px;
}

.set-plus{
	color: #145fd7;
	font-size: 32px;
}

.inline-input{
	padding: 6px 16px 5px 16px !important;
}

/* TEXT STYLING */

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.text-center {
  text-align: center;
}

.button-clear.active, .button-clear.activated {
    opacity: 1; 
}

.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.img-circle {
	border-radius: 50%;
}

.login-title {
  overflow: hidden;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  text-transform: lowercase;
  margin-bottom: 20px;
  color: #ddd;
}
.login-title:before,
.login-title:after {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.login-title:before {
  right: 0.5em;
  margin-left: -50%;
}
.login-title:after {
  left: 0.5em;
  margin-right: -50%;
}

.login-logo{
	width: 100%;
	max-width: 300px;
	margin: 60% auto 30% auto;
}

.button-padding{
	padding: 0 10px 0 10px;
}

.progress-circle{
	position: fixed;
	top: 9px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 142px;
}