<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.Training" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GymTraker</name>
    <description>
        Gym Traker makes it easier for you to record and track your gym sessions.
    </description>
    <author email="oli@gymtraker.com" href="http://gymtraker.com">
        Oli Gibson
    </author>
    <content src="index.html" />
    <access origin="*" />
    
</widget>
