<ion-view hide-nav-bar="true">
	<ion-content class="padding profile-background" scroll="false">
		<div class="col col-33 col-offset-33">
			<img ng-src="img/logo.png" class="center-block login-logo">
		</div>
		<form>
			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-ios7-email-outline placeholder-icon"></i>
			    <input type="text" placeholder="Email" autocorrect="off" autocapitalize="none" ng-model="user.email">
			  </label>
			  <label class="item item-input">
			    <i class="icon ion-ios7-locked-outline placeholder-icon"></i>
			    <input type="password" placeholder="Password" autocorrect="off" autocapitalize="none" ng-model="user.password">
			  </label>
			</div>
			<button class="button button-block button-outline button-light" ng-click="login()">
				{{ loginButton }}
			</button>
			<h2 class="login-title">or</h2>
			<button class="button button-block button-outline button-light" ng-click="signUp()">
				Sign Up
			</button>
		</form>
	</ion-content>
</ion-view>