<ion-view title="Settings">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-light">
        	Save
    	</button>
  	</ion-nav-buttons>
	<ion-content class="has-header">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text" ng-model="user.fname">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text" ng-model="user.lname">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="Email" ng-model="user.email">
			</label>
			<label class="item item-input">
				<span class="input-label">City</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Country</span>
				<input type="text">
			</label>
			<div class="item item-divider">
			    Athlete Information
			</div>
			<label class="item item-input">
				<span class="input-label">Birthday</span>
				<input type="date">
			</label>
			<label class="item item-input">
				<span class="input-label">Gender</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Weight (kg)</span>
				<input type="number">
			</label>
			<div class="item item-divider">
			    App Settings
			</div>
			<label class="item item-input item-select">
				<div class="input-label">
					Weight Unit
				</div>
				<select>
					<option selected>KG</option>
					<option>Lbs</option>
				</select>
			</label>
		</div>
	</ion-content>
</ion-view>