<ion-view title="Password">
	<ion-content class="has-header" has-bouncing="false" scroll="false">
		<form name="changePassword" ng-submit="updatePassword()">
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="Password" ng-model="pass.oldPassword" placeholder="Enter Old Password"  autocorrect="off" autocapitalize="none" required>
			  </label>
			  <label class="item item-input">
			    <input type="Password" ng-model="pass.newPassword" placeholder="Enter New Password" ng-minlength=6 autocorrect="off" autocapitalize="none" required>
			  </label>
			</div>
			<div class="button-padding">
				<button class="button button-block button-outline button-positive" ng-disabled="changePassword.$invalid">
					{{ button }}
				</button>
			</div>
		</form>
	</ion-content>
</ion-view>