<ion-view title="Password">
	<ion-content class="has-header" has-bouncing="false" scroll="false">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="Password" ng-model="pass.oldPassword" placeholder="Enter Old Password" required>
		  </label>
		  <label class="item item-input">
		    <input type="Password" ng-model="pass.newPassword" placeholder="Enter New Password">
		  </label>
		</div>
		<div class="button-padding">
			<button class="button button-block button-outline button-positive" ng-click="updatePassword()">
				Save Password
			</button>
		</div>
	</ion-content>
</ion-view>