<ion-view title="Settings">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-light" ng-click="saveUser()">
        	Save
    	</button>
  	</ion-nav-buttons>
	<ion-content class="has-header" has-bouncing="false">
		<div class="profile-background">
			<div class="row">
			 	<div class="col">
			 		<img ng-src="{{ user.mobileProfileImage }}" class="img-circle center-block profile-img-settings">
			 		<progress-arc class="progress-circle" ng-click="changePicture()"
					    size="142"
					    stroke="#fff"
					    stroke-width="2"
					    complete="progress"
					    counter-clockwise="false">
					</progress-arc>
			 	</div>
			</div>
		</div>
		<!--
		<div class="row">
		 	<div class="col">
		 		<img ng-src="{{ user.mobileProfileImage }}" class="img-circle center-block profile-img-settings">
		 	</div>
		</div>-->
		<div class="list">
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text" ng-model="user.fname">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text" ng-model="user.lname">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="Email" ng-model="user.email">
			</label>
			<label class="item item-input">
				<span class="input-label">City</span>
				<input type="text" ng-model="user.city">
			</label>
			<label class="item item-input">
				<span class="input-label">Country</span>
				<input type="text" ng-model="user.country">
			</label>
			<div class="item item-divider">
			    Athlete Information
			</div>
			<label class="item item-input">
				<span class="input-label">Birthday</span>
				<input type="date" ng-model="user.dob">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Gender
				</div>
				<select ng-model="user.gender">
					<option>Male</option>
					<option>Female</option>
				</select>
			</label>
			<label class="item item-input">
				<span class="input-label">Weight (kg)</span>
				<input type="number" ng-model="user.weight">
			</label>
		</div>
		<div class="button-padding">
			<button class="button button-block button-outline button-positive" ng-click="changePassword()">
				Change Password
			</button>
		</div>
		<div class="button-padding">
			<button class="button button-block button-outline button-assertive" ng-click="deleteUser()">
				Delete Account
			</button>
		</div>
	</ion-content>
</ion-view>