<ion-view title="Session">
	<ion-nav-buttons side="right">
	<button class="button button-clear" ng-click="completeSession()">
		Finish
	</button>
	</ion-nav-buttons>
	<ion-content has-header="true" padding="true" scroll="false">
		<div class="card header-card">
			<div class="row">
				<div class="col">{{session.activity}}</div>
				<div class="col text-right">{{session.date | date:'dd/MM/yyyy'}}</div>
			</div>
		</div>
		<td-cards>
			<td-card id="td-card" class="list card card-{{$index}}" ng-repeat="exercise in session.exercises" on-swipe-right="swipe($index)" on-swipe-left="swipe($index)" on-destroy="deleteExercise($index)" on-partial-swipe="partial(amt)">

				<div class="item item-divider item-divider-record">
					<input type="text" class="form-control exercise-input" placeholder="Exercise Name" ng-model="exercise.name">
					<span class="pull-right set-plus icon ion-ios7-plus-empty" ng-click="addSet(exercise, $index)"></span>
				</div>

				<a class="item" ng-repeat="set in exercise.sets">
					<div class="row no-padding">
						<div class="col no-padding flex">
					      <input type="text" class="form-control reps-input" ng-model="set.reps" pattern="[0-9]*">
					      <span class="input-group-addon reps">reps</span>
					    </div>
						<div class="col no-padding flex">
					      <input type="text" class="form-control weight-input" pattern="[0-9]*" ng-model="set.weight">
					      <span class="input-group-addon">kg</span>
					    </div>
					</div>
				</a>
			</td-card>
		</td-cards>
		<div class="row">
			<div class="col col-33 col-offset-33 plus-icon" ng-click="addExercise()"><i class="icon ion-ios7-plus"></i></div>
		</div>
	</ion-content>
</ion-view>