<ion-view title="Sign Up">
	<ion-content class="has-header" scroll="false">
		<form name="signUp" ng-submit="signUpForm()">
			<div class="list">
			  <label class="item item-input">
			  	<i class="icon ion-ios7-person-outline placeholder-icon"></i>
			    <input type="text" placeholder="Full Name" ng-model="user.name" required />
			  </label>
			  <label class="item item-input">
			  	<i class="icon ion-ios7-email-outline placeholder-icon"></i>
			    <input type="Email" placeholder="Email" ng-model="user.email" autocorrect="off" autocapitalize="none" required />
			  </label>
			  <label class="item item-input">
			  	<i class="icon ion-ios7-locked-outline placeholder-icon"></i>
			    <input type="password" placeholder="Password" ng-model="user.password" autocorrect="off" autocapitalize="none" ng-minlength=6 required />
			  </label>
			</div>
			<div class="list">
			  <li class="item item-checkbox">
			     Send me email updates
			     <label class="checkbox">
			       <input type="checkbox" ng-model="user.emailUpdates">
			     </label>
			  </li>
			</div>
			<button type="submit" class="button button-block button-full button-positive" ng-disabled="signUp.$invalid">
				Sign Up
			</button>
		</form>
	</ion-content>
</ion-view>