<ion-view title="Record">
	<ion-content class="has-header padding">
		<form name="recordForm">
			<div class="list list-inset">
				<label class="item item-input">
					<input type="text" placeholder="Session Name" ng-model="session.name" required>
				</label>
				<!--
				<label class="item item-input item-select">
					<div class="input-label">
						Activity
					</div>
					<select ng-model="session.activity">
						<option>Gym</option>
						<option>Run</option>
						<option>Cycle</option>
					</select>
				</label>
				-->
				<label class="item item-input item-select">
					<div class="input-label">
						Type
					</div>
					<select ng-model="session.type">
						<option>Endurance</option>
						<option>HIT</option>
						<option>Hypertrophy</option>
						<option>Power</option>
						<option>Strength</option>
					</select>
				</label>
			</div>
			<button class="button button-block button-outline button-positive" ng-click="createSession()" ng-disabled="recordForm.$invalid">
				{{ button }}
			</button>
		</form>
	</ion-content>
</ion-view>
